{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formulaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Libformulaire</th>
                <td>{{ formulaire.libFormulaire }}</td>
            </tr>
            <tr>
                <th>Actifformulaire</th>
                <td>{% if formulaire.actifFormulaire %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Idformulaire</th>
                <td>{{ formulaire.idFormulaire }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_formulaire_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('app_formulaire_edit', { 'idFormulaire': formulaire.idFormulaire }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
